Tema 11 - Validation Schema/cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>

<cli:schema xmlns:cli="http://www.w3.org/2001/XMLSchema">
    <cli:element name="cliente">
        <cli:complexType>
            <cli:sequence>
                <cli:element name="numero_ID" maxOccurs="1" type="cli:string"/>
                <cli:element name="nombre" maxOccurs="1" type="cli:string"/>
            </cli:sequence>
        </cli:complexType>
    </cli:element>
</cli:schema>